@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  font-family: "Lato", sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
}
a:link { 
  text-decoration: none; 
}
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
  color: #000;
} 
a:active { 
  text-decoration: none; 
}

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

.user-icon {
  width: 30px;
  border-radius: 100%;
}

.baust_logo{
  width: 30px;
  margin-right: 10px;
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

.sidebar-link .right-icon {
  transition: all 0.2s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
.profile-pic {
  position: absolute;
  right: 0px;
  width: 38px;
  bottom: 0px;
  border-radius: 0px 6px 6px 0;
}
.baust_logo_index
{
   width: 50px;
   
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
    
  }
  
  .offcanvas-backdrop {
    display: none !important;
  }
  
  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    top: var(--topNavbarHeight) !important;
    /*height: calc(100% - var(--offcanvas-width)) !important;*/
  }
  
  main {
    margin-left: var(--offcanvas-width);
  }
}

/* login-input */
.input1 {
  border-radius: 999px;
  outline: 2px solid rgb(16, 180, 186);
  border: 0;
  background-color:rgb(226, 226, 226);
  outline-offset: 3px;
  width: 90%;
  height: 25%;
  padding: 10px 1rem;
  transition: 0.15s;
}

.input1:focus {
  outline-offset: 5px;
  background-color: rgb(242, 246, 236)
}
/* login-input */

/* button style start */
.button-login {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(16, 180, 186);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button-login:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button-login:hover .icon {
  transform: translate(4px);
}

.button-login:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button-login::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}


/* button style end */

/* container style */
.container1 {

  height: 100%;
  /* Add your background pattern here */
  background-color:#dee9fa;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  
}

/* container style */


/* card */

.card {
 cursor: pointer;
 background: rgb(255, 255, 255);
 border-radius: 5px;
 border: 1px solid rgba(0, 0, 255, .2);
 transition: all .2s;
 box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
}

.card:hover {
 box-shadow: -7px 7px 2px -1px rgba(0, 0, 255, .2);
}
/* card */




/* bg */
/* dashbord animation */
 body {
    margin: auto;
   
    overflow: auto;
   
    animation: gradient 300s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
} 
/* dashbord animation */
@keyframes gradient {
 
   100% {
        background-position: 100% 100%;
    }
  
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
/* bg */

.text-muted {
    color: #6c757d; /* Adjust to your desired muted color */
    margin: 0 0.5rem; /* Adjust spacing as needed */
}




.form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333; /* Adjust color as needed */
}

.dept-id {
    font-weight: bold;
    margin-right: 0.5rem; /* Adjust spacing as needed */
}

.name {
    color: #666; /* Adjust color as needed */
}

.option {
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #f4f4f4; /* Adjust hover background color as needed */
}

/* button animation */




/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}



.btn1 {
 position: relative;
 font-size: 12px;
 text-transform: uppercase;
 text-decoration: none;
 padding: 1em 2.5em;
 display: inline-block;
 margin-left: 10px;
 border-radius: 6em;
 transition: all .2s;
 border: none;
 font-family: inherit;
 font-weight: 500;
 color: black;
 background-color: #b2bafb;
}

.btn1:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn1:active {
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn1::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all .4s;
}

.btn1::after {
 background-color: #5c636a;
}

.btn1:hover::after {
 transform: scaleX(1.2) scaleY(1.4);
 opacity: 0;
}
/* button animation */

